<footer class="text-center bg-body-tertiary">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4 d-flex justify-content-left" style="flex-wrap: wrap;">
      <!-- Facebook -->
      <a
      >Help</a>
      <!-- Twitter -->
      <a
      >Status</a>
      <!-- Google -->
      <a
      >About</a>
      <!-- Instagram -->
      <a
      >Careers</a>
      <!-- Linkedin -->
      <a
      >Blog</a>
      <!-- Github -->
      <a
      >Privacy</a>
      <a
      >Terms</a>
      <a
      >Text to speech</a>
      <a
      >Teams</a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
